:root {
  transition: all 1s ease-in;
  background-color: orange;
}

#content {
  background-color: aliceblue;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  box-sizing: border-box;
  border: 1px solid salmon;
  border-radius: 10px;
  line-height: 1.2;
  /* height: 100vw; */
}

img {
  border-radius: 10px;
  width: 80%;
  margin-bottom: 10px;
}

li > p {
  font-style: italic;
}
